body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand span {
    font-weight: bolder;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

#home {
    position: relative;
    margin-top: 120px;
}

#home span {
    color: #77bfad;
}

.title {
    font-weight: bold;
}

#information, #homestay {
    background-color: #77bfad;
}

#reservation {
    padding-bottom: 50px;
}

.btn {
    background-color: #66a495;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #038463;
    color: white;
    border: none;
}
