#home-page {
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    .navbar-brand span {
        font-weight: bolder;
    }
    
    .navbar-nav {
        li {
            padding: 0 10px;
        }
    
        a {
            font-weight: bold;
            color: black;
            text-transform: uppercase;
        }
    } 
}
